* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 10px;
  min-height: 0;
  padding: 0;
  border: none;
  margin: 0;
}

@import "theme.css";

/* === Main Background === */

window#waybar {
  background: @main-bg;
}

/* === Drop Shadow === */

window#waybar > box {
  background-color: transparent;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 1);
  margin: 2px;
}

/* === Tooltip === */

tooltip {
  background: @main-bg;
  border: solid;
  border-width: 1.5px;
  border-radius: 8px;
  border-color: @main-br;
}
tooltip label {
  color: @main-fg;
  font-weight: normal;
  margin: -1.5px 3px;
}

/* === Workspace Buttons === */

#workspaces button {
  color: @white;
  border-radius: 8px;
  box-shadow: none;
  margin: 2px 0;
  padding: 0 2px;
  transition: none;
}
#workspaces button:hover {
  color: @white;
  background: @hover-bg;
  text-shadow: none;
  box-shadow: none;
}
#workspaces button.active {
  color: @active-fg;
  background: @active-bg;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  margin: 2px;
  padding: 0 6px;
}

/* === General === */

#custom-ws,
#workspaces,
#window,
#clock,
#custom-wifi,
#bluetooth,
#pulseaudio,
#custom-backlight,
#battery {
  opacity: 1;
  color: @white;
  margin-bottom: 0;
  padding: 0 4px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}


/* == Window Icon == */

#custom-ws {
  background: @main-bg;
}

/* == Workspaces == */

#workspaces {
  border-radius: 20px;
}


/* == Distro Icon == */

#idle_inhibitor {
  color: @distro-bg;
  font-size: 11pt;
  margin-right: -1px;
  margin-bottom: -2px;
  padding-right: 0;
  padding-left: 3px;
  text-shadow: 0 0 1.5px rgba(0, 0, 0, 1);
}

/* == Time == */

#clock.time {
  border-radius: 20px;
}

/* == Tray == */

#custom-wifi {
  padding-left: 5px;
  padding-right: 8px;
}
#custom-wifi:hover {
  color: @hover-fg;
  text-shadow: none;
  box-shadow: none;
}

#bluetooth {
  padding-right: 8px;
}
#bluetooth:hover {
  color: @hover-fg;
  text-shadow: none;
  box-shadow: none;
}

/* == Output Device == */

#pulseaudio {
  border-radius: 20px;
}
#pulseaudio:hover {
  color: @hover-fg;
  text-shadow: none;
  box-shadow: none;
}

/* == Brightness == */

#custom-backlight {
  border-radius: 20px;
}

/* == Battery == */

#battery {
  border-radius: 20px;
}
#battery.full {
  color: @full;
}
#battery.good {
  color: @good;
}
#battery.warning {
  color: @warning;
}
#battery.critical {
  color: @critical;
}
#battery.charging {
  color: @charging;
}
