animations {
    workspace-switch {
        spring damping-ratio=0.80 stiffness=523 epsilon=0.0001
    }
    window-open {
        duration-ms 250
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 250
        curve "ease-out-quad"
    }
    horizontal-view-movement {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=0.75 stiffness=323 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
}

layout {
    gaps 8
    default-column-width { proportion 1.0; }

    border {
        width 0
    }

    focus-ring {
        width 0
    }
}

gestures {
    hot-corners {
        off
    }
}

window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}

prefer-no-csd
