layout {
    gaps 8
    default-column-width { proportion 1.0; }

    border {
        width 0
    }

    focus-ring {
        width 0
    }
}

gestures {
    hot-corners {
        off
    }
}

window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}

prefer-no-csd
