/* 
  bg - background
  fg - foreground
  br - border
*/

* {
  main-bg:        #08090d;
  main-fg:        #f8f8f0;
  main-br:        #5C6773;
  input-bg:       #1e2029;
  select-bg:      #3d424d;
  select-fg:      #f8f8f0;
}
