environment {
    XDG_CURRENT_DESKTOP "gnome"
    XDG_SESSION_TYPE "wayland"

    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

hotkey-overlay {
    skip-at-startup
}

spawn-at-startup "dms" "restart"

include "modules/input.kdl"
include "modules/look.kdl"
include "modules/monitor.kdl"
