layout {
    gaps 8
    default-column-width { proportion 1.0; }

    border {
        width 0
    }

    focus-ring {
        width 0
    }
}

gestures {
    hot-corners {
        off
    }
}

blur {
    passes 5
    offset 9
    noise 0.02
    saturation 0.7
}

window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
    draw-border-with-background false
}

window-rule {
    match app-id="zen-beta"
    background-effect {
        blur true
    }
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}

prefer-no-csd
